.navBarContainer {
    height: 63px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 30px;
    background: linear-gradient(to right, #00593D , #2AC58C);
    align-items: center;
    padding: 10px;

    & p {
        font-size: x-large;
        font-weight: 500;
    }
}

@media (max-width: 768px) {
    .navBarContainer {
      grid-template-columns: 1fr auto; /* Adjust the columns for mobile screens */
      justify-content: space-between; /* Ensure items are equally spaced */
    }
  }